{% extends 'ecommerce/base.html' %}


{% block body %}

<div class="container">
  <div class="text-center">
    <h2 style="font-weight:bold">Your Cart</h2>
    <hr class="my-2">
  </div>    
  <div class="row">
    <div class="col-md-12 col-lg-12 order-md-last">

      {% if cartProducts %} 
      <table class="table">
        <tr>
          <th>Product Image</th>
          <th>Product Name</th>
          <th>Category</th>
          
          <th>Qty</th>
          <th>Price</th>
          <th> </th>
        </tr>

 <!--Cart Product Dictionary-->
        {% for product in cartProducts %} 
        <tr>
          <td tyle="border-right-width: 100%;"><a href="/ecommerce/productDescription/{{product.productId}}"><img style="width:30%;" src="/media/{{product.productImage}}"></a></td>
          <td>{{product.productName}}</td>
          <td>{{product.productCategory}}</td>
          {% if cartDictionary %}
            {% for cart,value in cartDictionary.items %}                
              {% if product.productId == cart %}
                {% for itemKey,totalProductPrice in productPriceList.items %}
                  {% if itemKey == cart %}
                  <form class="d-lg-inline-block" id="myForm_{{ forloop.counter }}" action="/ecommerce/cartUpdate/" method="POST">
                    {% csrf_token %}
          <td><input type="hidden" name="cartProductId_{{ forloop.counter }}" value="{{cart}}">                                 
                                <input type="number"  name="cartUpdateQuantity_{{ forloop.counter }}" value="{{value}}" class="form-control-sm" style="width:60%;height:5%" min="1"  onchange="submitForm({{ forloop.counter }})"></td>
          <td><span class="text-muted"> ${{product.productPrice}} x {{value}} = {{totalProductPrice}}</span></td></form>
          <td><form method="post" delForm_{{ forloop.counter }} action="{% url 'deleteCartProduct' %}"> {% csrf_token %}
            <input type="hidden" name="deleteCartProductId_{{ forloop.counter }}" value="{{cart}}"><button  type="submit" name="delete_{{ forloop.counter }}" class="btn btn-success btn-sm" onclick="removeCartProduct({{product.productId}})">Remove</button> </form></td>
            </tr>
        {% endif %}
        {% endfor %}                    
        {% endif %}                 
        {% endfor %}
        {% endif %}                  
        {% endfor %}
<tr><td></td><td></td><td></td><td><strong>Total (USD)</strong></td><td>
  <strong>${{total}}</strong></td><td></td></tr>
</form>


      </table>
      {% else %}
      <h4 class="text-center bg-light py-3"><span class="fa fa-cart-plus"></span> Wait for Products</h4>
      {% endif %}
    </div>

  </div>
  <div class="py-5"></div>
</div>
{% endblock body %}
{% block js %}
  function submitForm(id) {
    document.getElementById("myForm_"+id).submit();
  }
  function removeCartProduct(id){
    document.getElementById("delForm_"+id).submit();
  }
{% endblock js %}