{% extends "ecommerce/base.html" %}

{% block body %}



<div class="container" style="padding:5% 20% 15% 20%">
    <div class="card px-4 py-4">
    
    {% if messages %}
       {% for message in messages %}
  <h2><div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div></h2>
  {% endfor %}
{% endif %}
    <div class="progress">
      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
        100%
      </div>
     
    </div>
    <br>
    <button class="btn btn-success" onclick="window.location.href='/'">Continue</button>
  </div>
</div>

{% endblock body %}