{% extends "ecommerce/base.html" %}

<icon class="fas fa-project-diagram"></icon> BuzzShop

{% block body %}
       
<main class="form-signin">
    <form method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal"></h1><icon class="fas fa-project-diagram"></icon> BuzzShop</h1>
      <h1 class="h3 mb-3 fw-normal">Create Account </h1>  
      <div class="form-floating py-1">
        <input type="name" name="userName" class="form-control" placeholder="Name">
        <label for="floatingInput">Name</label>
      </div>
      <div class="form-floating py-1">
        <input type="email" name="userEmail" class="form-control" placeholder="name@example.com">
        <label for="floatingPassword">Email Address</label>
      </div>
      <div class="form-floating py-1">
        <input type="password" name="userPassword" class="form-control" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <button class="w-100 btn btn-lg btn-dark" type="submit">Sign Up</button>
       </form>
  </main>  
{% endblock body %} 