{% extends "../base.html" %}



{% block body %}
<div class="container bootstrap snippets bootdey">
    <div class="col-md-9">
		<div class="row">
			<div class="col-md-4 col-sm-5">
				<div class="thumbnail">
					<img src="https://bootdey.com/img/Content/User_for_snippets.png" alt="Profile Picture">
				</div> <!-- /.thumbnail -->
				<br>
				<div class="list-group">  
					<a href="#" class="list-group-item">
						<i class="fa fa-asterisk"></i> &nbsp;&nbsp;Orders
						<i class="fa fa-chevron-right list-group-chevron"></i>
					</a> 
					<a href="#" class="list-group-item">
						<i class="fa fa-bell"></i> &nbsp;&nbsp;Notifications
						<i class="fa fa-chevron-right list-group-chevron"></i>
					</a>  
					<a href="#" class="list-group-item">
						<i class="fa fa-cog"></i> &nbsp;&nbsp;Settings
						<i class="fa fa-chevron-right list-group-chevron"></i>
					</a> 
				</div> <!-- /.list-group -->
			</div> <!-- /.col -->


			<div class="col-md-8 col-sm-7">
				<h2>Marktingk HGuoward</h2>
				<h4>Visual, UI, UX Designer</h4>
				<hr>
				<ul class="icons-list">
					<li><i class="icon-li fa fa-envelope"></i> rod@jumpstartui.com</li>
					<li><i class="icon-li fa fa-globe"></i> jumstartthemes.com</li>
					<li><i class="icon-li fa fa-map-marker"></i> Las Vegas, NV</li>
				</ul>
				<br>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.</p>
				<hr>
			</div>
		</div>
	</div>
</div>                                   
  <div class="py-5"></div>
{% endblock body %} 